body {
  background-color: #000;    
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column; /* Stack items on small screens */
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Avoid overflow */
  padding: 10px;
}
