body {
  background-color: #000;    
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column; /* Stack items on small screens */
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Avoid overflow */
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  min-width: 50px;
  max-width: 80%;
  font-size: clamp(14px, 4vw, 20px); /* Adjusts font size based on screen */
}
